#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: large;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #454141;
}

div#buyAndSell {
  display: flex;
  justify-content: center;
}

#chartContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

#priceTable {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

#symbol_day_selection {
  margin: 20px;
}

#tradeInterface {
  width: 500px;
  margin: auto;
}