#root {
  width: 80%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  font-size: large;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}


tr:nth-child(even) {
  background-color: #454141;
}


#chartContainer {
  width: 100%;
  display: flex;
  align-items: flex-end;
  background-color: #ac9393;
  border-radius: 3px;
}

#priceTable {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

#symbol_day_selection {
  margin: 20px;
}

#tradeInterface {
  width: 515px;
  margin: auto;
}

#line {
  min-height: 300px;
}

div#buyAndSell {
  display: flex;
  justify-content: center;
}

div#buyAndSell > button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: .8em, 1.6em;
  font-size: 4em;
  font-weight: 700;
  font-family: inherit;
  cursor: pointer;
}

button#buy {
  background-color:rgb(29, 136, 57);
}

button#buy:hover {
  background-color:rgb(14, 69, 28);
}

button#sell {
  background-color:rgb(215, 16, 16);
  margin-left: 5px;
}

button#sell:hover {
  background-color:rgb(135, 10, 10);
}